<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <a class="navbar-brand" href="<%= root_path %>"><svg width="59" height="49" viewBox="0 0 200 239" fill="none" xmlns="http://www.w3.org/2000/svg">
                                     <path d="M64.5414 238.81C50.2209 232.621 36.82 216.888 36.7887 200.791C36.75 183.241 47.8724 168.341 61.7053 158.549C60.0423 164.832 59.1347 170.579 63.2549 176.198C67.0855 181.424 73.7932 183.963 80.1267 182.585C94.9276 179.346 95.6058 163.075 86.832 153.596C78.1572 144.209 69.7647 133.606 73.0666 119.993C74.72 113.169 78.9102 106.777 84.218 102.208C80.1388 112.93 91.7318 123.504 99.3712 128.771C112.622 137.909 127.16 144.815 139.345 155.527C152.161 166.785 161.626 182.008 159.714 199.662C157.643 218.798 142.437 232.107 125.381 238.826C161.423 230.871 198.664 202.898 199.427 162.925C200.059 130.041 177.5 104.733 149.555 90.2436L148.094 89.4471C148.862 91.3081 149.113 92.8915 149.084 94.3083C149.335 93.2632 149.504 92.1891 149.552 91.0812C149.54 92.4594 149.364 93.7604 149.04 94.9817L149.084 94.3083C148.664 96.0824 147.959 97.7309 147.015 99.2395L147.426 98.7978C141.85 108.045 126.757 110.053 119.301 100.478C107.315 85.0759 119.552 68.4696 121.264 52.1602C123.407 31.7185 110.588 11.8754 94.6934 0C103.448 14.1612 91.9153 32.8964 82.6877 43.3695C73.7401 53.5239 62.8591 62.0008 52.9822 71.226C42.3716 81.1343 32.1712 91.5712 23.4505 103.2C6.00909 126.476 -4.66915 155.749 3.17781 184.788C11.0199 213.806 36.1563 232.278 64.5414 238.81Z" fill="#EE4323"/>
                                     </svg>
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="<%= brands_path %>">Markalar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_brand_path %>">Yeni Marka Ekle</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= products_path %>">Tüm Ürünler</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="<%= new_product_path %>">Yeni Ürün Ekle</a>
         </li>
      </ul>
    </div>
  </div>
</nav>