<%= form_with(model: brand) do |form| %>
  <% if brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
        <% brand.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.text_field :brand_name , class:"form-control" , placeholder: "Lütfen Marka Adı Giriniz" %>
  </div>

  <div class="actions">
    <%= form.submit class:'btn btn-dark mb-3' %>
  </div>
<% end %>
